*{
    margin:0;
    padding:0;
    font-family: 'Work Sans', sans-serif;
    --pink:#ff42a5;
    --gr-one:linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --gr-two:linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --blue:#4EC5F7;
    --text:#534C64;
    --title:#0B0223;
}

/* header */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 90px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

  }
  
  header .logo img {
    height: 50px;
    margin-left: 100px;
  }
  
  .menu {
    list-style: none;
    margin-right:100px ;
  }
  
 .menu li {
    display: inline-block;
  } 
  
  .menu li a {
    text-decoration: none;
    color: #3C354F;
    padding: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .fa-brands, .fab {
	font-weight: 400;
	font-size: 19px;
}
.fa-youtube{
    color: #F61C0D;
    padding:0px 5px 0px 5px ;
}
.fa-tiktok{
    color: #000000;
    text-shadow: 1px 1px 0px rgba(8,255,249,0.55);
}
.menu-btn{
    padding: 9px 4px 9px 4px;
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 60px;
    object-fit: contain;
}
.logo p{
    margin-left: 10px;
    font-size: 28px;
    font-weight: 700;
}
.logo-design{
    color: var(--pink);
}
/* header end */
/* banner */
.banner{
    width: 100%;
    display: flex;
    height: 550px;
    justify-content: space-between;
    align-items: center;
    background: url('img/Group\ 14.png');
    background-size: contain;
    background-repeat: no-repeat;

}
.banner-text h2{
    color: var(--title);
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-text h1{
    font-size: 96px;
    font-weight: 800;
    text-transform: uppercase;
    background-image: var(--gr-one);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-text ul li{
    list-style-type: none;
    line-height: 2em;
    color: var(--text);
}
.banner-text ul li i{
    margin-right: 15px;
}
.btns{
    margin-top: 10%;
}
.btn{
    padding: 12px 30px 12px 30px;
    text-decoration: none;
    border-radius: 25px;
    color:#fff;
    text-transform: uppercase;
}
.btn-one{
    background: var(--pink);
    margin-right: 5px;
}
.btn-two{
    background: var(--blue);
}
.image img{
    width: 555px;
    margin-right: 90px;
    position: absolute;
    bottom: 0;
    right: 0;
    object-fit: contain;
}
.banner-text{
    margin-left: 100px;
}
.aboutus{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 550px;
    background:  url(img/Group\ 14.png); 
    background-size: cover;
}
.aboutus img{
  width:680px;
  object-fit: contain;
  margin-left: 50px;
}
.about-text{
    width: 33%;
    text-align: right;
    margin-right: 100px;
}
.gradient{
    background-image: var(--gr-two);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-text h2{
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.about-text p{
    font-size: 15px;
    color: var(--text);
    line-height: 1.5em;
}
.purpose{
    margin-top: 6%;
    font-size: 18px!important;
    font-weight: 600;
}
.about-text h3{
    font-size: 26px;
    font-weight: 700;
    color: var(--text);
}
.online-game{
    width: 100%;
    height: 550px;
}
.online-game h2{
    margin-top: 8%;
    text-align: center;
    font-size: 36px;
    color: var(--title);
    line-height: 1.6em;
}
.online-game p{
    text-align: center;
    color: var(--text);
}
/* online game img */
.container {
    display: flex;
    /* grid-template-columns: repeat(4, 250px); */
    gap: 15px; 
    /* max-width: 80%;  */
    /* margin: 30px auto;  */
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;

  }
  .box-div{
    width: 250px;
  }
  .box-div p{
    margin-top: 5px;
    text-align: left;
    font-size: 14px;
  }
  .box-div img {
    width: 100%;
    object-fit: cover;
  }


  .image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
  }
  .centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  .play-icon {
    display: block;
    font-size: 60px;
    color: #fff;
    cursor: pointer;
  }

  .overlay p {
    margin-top: 10px;
    font-size: 14px;
    color: var(--pink);
    cursor: pointer;
  }
  
  .image-container:hover .overlay {
    opacity: 1; /* Change opacity to 1 on hover */
  }

  .instantly-text{
   text-align: right;
  }
  .instantly-text .design{
    color: var(--pink);
  }
  .instantly-text h2{
    font-size: 36px;

  }
  .instantly-text p{
    color: var(--text);

  }
  .instantly{
    height: 600px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 20;
    align-items: center;
  }
  .ins-image .image-one{
    width: 450px;
  }
  .ins-image{
    position: relative;
  }
  .ins-image .image-two{
    width: 190px;
    position: absolute;
    bottom: -6%;
    left: -23%;
  }

  /* before footer */
  .before-footer{
    background: #FCF7FE;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-item{
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
.items{
display: flex;
align-items: center;
width: 220px;
height: 50px;
background: #fff;
border-radius: 25px;
font-size: 14px;
border: 1px solid #fff;
}
.items img{
    width: 35px;
    object-fit: contain;
    padding-left: 15px;
    margin-right: 10px;
}
.items:hover{
  border:1px solid var(--pink);
  color: var(--pink);
  cursor: pointer;
  transition: 0.8s ;
}

footer{
  height: 400px;
  background: #0B0223;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container p{
  color: #fff;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.footer-nav ul{
  margin-top: 25px;
  color: #fff;
  display: flex;
  gap: 25px;
  list-style-type: none;
}

.social-icon ul{
  margin-top: 25px;
  display: flex;
  gap: 35px;
  list-style-type: none;
}
.social-icon ul li a{
  color: #fff;
}
.social-icon ul li a i:hover{
  transition: 0.5s ;
  transform: scale(0.8);
}

.bottom-footer-nav ul{
  margin-top: 25px;
  color: rgba(255, 255, 255, 0.60);
  display: flex;
  gap: 45px;
  font-size: 14px;
  list-style-type: none;

}
.copyright{
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.60)!important;
  font-size: 12px;
  text-align: center;
}

/* mobile responsive  start*/
@media only screen and (max-width: 576px) {
  /* header */
  header{
    width: 100%;
    height: 200px;
    padding-top:40px ;
    flex-direction: column;
    padding-bottom: 20px;
    justify-content: start;
    margin-bottom: 40%;

  }
    
  header .logo img {
    height: 50px;
    margin-left: 0px;
  }
  .image img{
    margin-top: 30px;
      position: static;
      width: 100%;
      margin-right: 0px;
  }
  .menu {
    margin-right: 0px;
  }
  .menu li{
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .banner{
    padding: 50px 5px 50px 5px;
    flex-direction: column-reverse;
    background: none;
    margin-bottom: 5%;
  }
  .banner-text{
    margin-top: 60px;
    margin-left: 30px;
    background: url('img/Group\ 14.png');
    background-size: contain;
    background-position: bottom;
  }

  .banner .banner-text{
    padding: 40px 50px 40px 50px;
  }
.banner-text h1{
    font-size: 45px;
  }
  .banner-text h2{
    font-size: 35px;
  }
  .banner-text li{
    font-size: 14px;
  }
  .aboutus{
    flex-direction: column;
    height: auto;
    justify-content: center;
    background: none;
    text-align: center;
  }
  .aboutus img{
    width: 100%;
    margin-left: 0px;
    background-color: #fff;
  }
  .about-text{
    background-color: #fff;
    width: 90%;
    text-align: center;
    margin-right: 0px;
  }
  .about-text p{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .about-text .purpose{
    margin-bottom: 0px;
  }
  .about-text h3{
    font-size: 22px;
  }
  .online-game{
    height: auto;
  }
  .online-game h2{
    font-size: 28px;
  }
  .online-game p{
    font-size: 12px;
  }
  .instantly{
    flex-direction: column;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
  .instantly-text{
    margin-left: 0px;
    text-align: center;
  }
  .instantly-text p{
    margin-bottom: 25px;
    font-size: 14px;
  }
  .ins-image {
    margin-right: 0px;
  }
  .ins-image .image-one{
    width: 70%;
    margin: 0 auto;
    display: block;
  }
  .ins-image .image-two{
    bottom: -10%;
    left: 5%;
    width: 120px;
  }
  .before-footer{
    height: 350px;
  }
  .box-item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 8px;
  }
  .box-item .items{
    width: 130px;
  }
  .box-item .items img{
    width: 20px;
  }
  .box-item .items span{
    font-size: 10px!important;
  }
  .footer{
    height: auto;
  }
  .footer-nav ul , .social-icon ul{
    display: grid;
    grid-template-columns: auto auto auto ;
  }
  .bottom-footer-nav ul{
    display: grid;
    grid-template-columns: auto auto;
  }

}